{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}Welcome to QuickGene{% endblock %}</h1>
    <form method="post">
        <div class="form-group">
            <label for="title">Nucleotide Accession ID</label>
            <input type="text" name="id"
                placeholder="ID" class="form-control"
                value="{{ request.form['id'] }}"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <img src="{{seq_info['chart_path']}}"></img>
    <br>
    <br>
    <h1>Nucleotide Sequence Information</h1>
    <br>
    <ul>
        <li>Nucleotide sequence name is  {{ seq_info['name'] }}. </li>
        {% autoescape false %}
            <li>Nucleotide sequence name is  {{ seq_info['test']}}. </li>
            
            <li>Nucleotide sequence description is {{ seq_info['description'] }}. </li>
            <li>Nucleotide sequence gc content is {{ seq_info['gc_content'] }}. </li>
            <li>Nucleotide sequence sequence is : </li>
            {% for line in seq_info['seq_html']%}
                <p>{{line}}</p>
            {% endfor %}
        {% endautoescape %}
    </ul>
    
{% endblock %}